%main.container
  .internship-filters
    %button.btn.btn-secondary
      %span Бэкенд-разработка
      = image_tag 'svg/plus.svg'
    %button.btn.btn-secondary
      %span Москва
      = image_tag 'svg/plus.svg'

  .internship-wrrapper
    .internship-card
      .internship-card_header
        %h3.title MediaSoft
        %span.badge.badge-success Оплачиваемая
      .row-label-value
        .label Специальность
        .value Бэкенд-разработка
      .row-label-value
        .label Длительнось
        .value 3–4 месяца
      .row-label-value
        .label Дата выхода
        .value 11 мая
      .row-label-value
        .label Занятость
        .value 20–30 часов в неделю
      %button.btn.btn-primary
        Подать заявку
      %button.btn.btn-outline-primary
        Подробнее

    .internship-card
      .internship-card_header
        %h3.title MediaSoft
      .row-label-value
        .label Специальность
        .value Бэкенд-разработка
      .row-label-value
        .label Длительнось
        .value 3–4 месяца
      .row-label-value
        .label Дата выхода
        .value 11 мая
      .row-label-value
        .label Занятость
        .value 20–30 часов в неделю
      %button.btn.btn-primary
        Подать заявку
      %button.btn.btn-outline-primary
        Подробнее

    .internship-card
      .internship-card_header
        %h3.title MediaSoft
      .row-label-value
        .label Специальность
        .value Бэкенд-разработка
      .row-label-value
        .label Длительнось
        .value 3–4 месяца
      .row-label-value
        .label Дата выхода
        .value 11 мая
      .row-label-value
        .label Занятость
        .value 20–30 часов в неделю
      %button.btn.btn-primary
        Подать заявку
      %button.btn.btn-outline-primary
        Подробнее

