/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family:'Graphik LCG';
  src: asset-url('GraphikLCG-Medium.eot');
  src: asset-url('GraphikLCG-Medium.woff2') format('woff2'),
  asset-url('GraphikLCG-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Graphik LCG';
  src: asset-url('GraphikLCG-Regular.eot');
  src: asset-url('GraphikLCG-Regular.woff2') format('woff2'),
  asset-url('GraphikLCG-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
 // boostrap-vars
 
$border-radius: 0;
$border-width: 2px;
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1.5rem !default;
$badge-padding-y:              .8em !default;
$badge-padding-x:              .8em !default;
$badge-font-size: 12px;
$badge-font-weight: normal;
$font-family-sans-serif:   'Graphik LCG',   system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$primary:       #722ED1;
$secondary:     #F4F4F5;
$success:       #52C41A;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

@import 'bootstrap';
@import 'font_awesome5_webfont';

body {
  padding: 0;
  font-size: 14px;
  background-color: #FBF9FE;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}


// ======================== Elements

.nav-item {

  &.icon {
    margin-left: 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 24px;
  margin-bottom: 10px;
  background-color: #fff;
  .navbar {
    .nav-link {
      color: var(--main);
    }
  }
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.internship-filters {
  display: flex;
  justify-content: flex-end;
  margin: 17px 0;

  .btn {
    display: inline-flex;
    justify-content: space-between;
    min-width: 300px;
    
    & +.btn {
     margin-left: 16px;
   }
  }
}

.internship-wrrapper {
  display: flex;
  justify-content: space-between;
}

.internship-card {
  max-width: calc((100% - 2 * 16px) / 3);
  width: 100%;
  padding: 24px;
  background-color: #fff;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
  }

  .btn {
    & + .btn {
      margin-left: 12px;
    }
  }

  &__compact {
    .title {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 12px;
    }
  }
}
.row-label-value {
  display: flex;
  flex-direction: column;
  &:last-of-type {
    margin-bottom: 20px;
  }
  & + .row-label-value {
    margin-top: 16px;
  }
  .label {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #828282;
  }
  .value {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
  }
}

.row-labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .row-label-value {
    margin: 0;
    width: 33%;
  }
  &__inline {
    display: inline-flex;
    .row-label-value {
      margin: 0;
      width: 33%;
    }
    .row-label-value {
      & + .row-label-value {
        margin-left: 48px;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.breadcrumbs {
  display: flex;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;

    a {
      color: #000;
    }

    li:last-child {
      a {
        color: #A0A3BD;
        pointer-events: none;
      }
    }
  }
}

section {
  h2 {
    margin: 24px 0 16px;
  }
}

.student-profile-header {
  display: flex;
  padding: 32px;
  background-color: #fff;

  .avatar-holder {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #FBF9FE;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_avatar {
    position: relative;
    margin-right: 16px;

    .add_avatar {
      position: absolute;
      bottom: 8px;
      right: 8px;
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(241, 234, 250, 0.5);
      border-radius: 4px;
      padding: 0;
      border: 0;
    }
  }

  &_info {
    .name {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #000000;
      margin-bottom: 8px;
    }
    .description {
      font-size: 16px;
      line-height: 24px;
      color: #797E8B;
      margin-bottom: 15px;
    }
    .edit-link {
      text-decoration: none;
      font-size: 18px;
      line-height: 24px;
      color: #101828;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}


.internship-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #101828;
  }
  .company {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #272F3D;
  }
}

.internship-info-tags {
  margin-bottom: 24px;
  ul {
    display: flex;
    padding: 0;
    color: $primary;
    font-size: 16px;
    line-height: 24px;

    li{
      &:first-child {
        list-style: none;
      }
      & + li {
        margin-left: 25px;
      }
    }
  }
}

.skill-set-box {
   margin: 10px 0 40px;
   h2 {
     margin: 30px 0 16px;
   }
}

.skill-wrapper {
  display: flex;

  .skill-tag {
    background-color: $primary;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 6px 12px;

    & + .skill-tag {
      margin-left: 8px;
    }
  }
}


.course-wrapper {
  display: flex;
  justify-content: space-between;
  & > .preview-course {
    width: calc(100% / 2 - 16px);
  }
}

.preview-course {
  border: 1px solid #101828;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  &:hover {
    text-decoration: none;
    color: #000;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    font-size: 18px;
    line-height: 28px;
  }

  .course-image {
    max-width: 120px;
  }
}

.sticky-corner {
  position: fixed;
  bottom: 40px;
  right: 40px;
}