.header {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 10px;

  .logo {
    display: flex;
    font-size: 32px;
    color: var(--main);
  }
  .navbar {
    .nav-link {
      color: var(--main);
    }
  }
}

.container {
  max-width: 1104px;
  margin: 0 auto;
}

.internship-wrrapper {
  display: flex;
  justify-content: space-between;
}

.internship-card {
  max-width: calc((100% - 2 * 24px) / 3);
  width: 100%;
  padding: 24px;
  background-color: #F4F4F5;

  .title {
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
  }

  .row-label-value {
    display: flex;
    flex-direction: column;
    &:last-of-type {
      margin-bottom: 20px;
    }
    & + .row-label-value {
      margin-top: 16px;
    }
    .label {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      color: #828282;
    }
    .value {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #000;
    }
  }
}

