!!!
%html
  %head
    %title Стажировочка - сервис организации стажировок для студентов
    %meta{name: :viewport, content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
  %body
    = yield
